[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
urllib3 = ">=1.23"


[dev-packages]

Sphinx = "*"
codecov = "*"
coverage = "*"
Jinja2 = ">=2.10.1"
detox = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
requests-mock = "*"
tox = "*"
twine = "*"
